In [1]:
# librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
%matplotlib inline

In [2]:
dataWrf = pd.read_csv("data/Resultado_wrf_1.csv")

In [3]:
dataWrf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3581424 entries, 0 to 3581423
Data columns (total 28 columns):
Canon                  int64
Estado                 object
Nombre                 object
Long                   float64
Lat                    float64
Year                   int64
Month                  int64
Day                    int64
Hour                   float64
RainWRF                float64
RainWRF_posterior_1    float64
RainWRF_posterior_2    float64
diff_previa            float64
diff_posterior         float64
Rango_previo           object
Rango_posterior        object
validacionEvento       int64
Fecha                  object
Hora_Formato           object
0pre                   int64
1-5pre                 int64
5-10pre                int64
>30pre                 int64
20-25pre               int64
10-15pre               int64
0                      int64
25-30pre               int64
15-20pre               int64
dtypes: float64(8), int64(14), object(6)
memory usage: 765.1+ MB

In [4]:
def generar_area_de_influencia(v):
    for i in range(0,8):
        value = v * math.sin(random.randint(0,99)/100)
        v += value
    return v

In [5]:
dataWrf["areaInfluencia"] = dataWrf.apply(lambda x: generar_area_de_influencia(x["RainWRF"]), axis=1)

In [7]:
dataWrf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3581424 entries, 0 to 3581423
Data columns (total 29 columns):
Canon                  int64
Estado                 object
Nombre                 object
Long                   float64
Lat                    float64
Year                   int64
Month                  int64
Day                    int64
Hour                   float64
RainWRF                float64
RainWRF_posterior_1    float64
RainWRF_posterior_2    float64
diff_previa            float64
diff_posterior         float64
Rango_previo           object
Rango_posterior        object
validacionEvento       int64
Fecha                  object
Hora_Formato           object
0pre                   int64
1-5pre                 int64
5-10pre                int64
>30pre                 int64
20-25pre               int64
10-15pre               int64
0                      int64
25-30pre               int64
15-20pre               int64
areaInfluencia         float64
dtypes: float64(9), int64(14), object(6)
memory usage: 792.4+ MB

In [9]:
dataWrf[["RainWRF", "areaInfluencia"]].sum()

RainWRF           2.335901e+05
areaInfluencia    4.713814e+06
dtype: float64

In [10]:
dataWrf.to_csv("data/Resultado_wrf_area_1.csv")

In [24]:
dataWrf = pd.read_csv("data/data_from_wrf_30min_post_processing.csv")

In [25]:
dataWrf["areaInfluencia"] = dataWrf.apply(lambda x: generar_area_de_influencia(x["RainWRF"]), axis=1)

In [26]:
dataWrf.to_csv("data/data_wrf_area_influencia.csv")

In [47]:
dataNasa["RainIMR"].max()

50.00000000000001

In [34]:
dataNasa.head()

,Unnamed: 0,Canon,Estado,Nombre,Long,Lat,Year,Month,Day,Hour,RainIMR,areaInfluencia,diff
0,0,1,MICH,La Alberca,-102.006289,19.474989,2014,12,13,450,0.0,0.0,0.0
1,1,2,MICH,El Costo,-102.064453,19.448556,2014,12,13,450,0.0,0.0,0.0
2,2,3,MICH,El Fresno,-102.083000,19.492444,2014,12,13,450,0.0,0.0,0.0
3,3,4,MICH,Pajas 1,-102.061333,19.500167,2014,12,13,450,0.0,0.0,0.0
4,4,5,MICH,Pajas 2,-102.056250,19.510333,2014,12,13,450,0.0,0.0,0.0

In [48]:
dataNasa.groupby(["Year","Estado","Nombre"])["RainIMR"].agg(["max","min","mean","std"]).to_csv("data/data_nasa_estadisticas_canon.csv")

In [49]:
dataNasa.groupby(["Year","Estado","Nombre"])["RainIMR"].agg(["max","min","mean","std"])

                                        max  min      mean       std
Year Estado Nombre
2014 JAL    Bonanza 1             21.357994  0.0  0.092640  0.638824
            Bonanza 2             21.381306  0.0  0.093383  0.643298
            Cantor                20.190834  0.0  0.096652  0.710847
            Caracol 1             22.951187  0.0  0.100157  0.803525
            Caracol 2             26.986339  0.0  0.101217  0.845364
            El conejo             32.846386  0.0  0.097639  0.805988
            La Quinta             23.684033  0.0  0.087947  0.624250
            Leona 1               19.300710  0.0  0.093248  0.638136
            Leona 2               19.382918  0.0  0.095819  0.688228
            Manzanilla 1          18.682020  0.0  0.092520  0.639393
            Manzanilla 2          18.703468  0.0  0.093131  0.650671
            Ranchitos             19.433216  0.0  0.098804  0.747759
            Varal 1               26.061189  0.0  0.097823  0.730460
            Varal 2               25.957582  0.0  0.098408  0.739494
     MICH   Adelas                31.886456  0.0  0.103220  0.851006
            Antena                38.964822  0.0  0.115798  0.966554
            Bugambilias           42.382968  0.0  0.117090  1.001918
            Coyotera              46.257203  0.0  0.106259  0.967993
            El Costo              33.395686  0.0  0.116322  0.834619
            El Fresno             31.221303  0.0  0.130377  0.781965
            El Milagro            29.753796  0.0  0.133329  0.748304
            Jaboncillal           31.358224  0.0  0.105167  0.885080
            La Alberca            33.401341  0.0  0.126914  0.818086
            La Herradura          34.220873  0.0  0.118091  0.964416
            Mellizos              34.186933  0.0  0.118543  0.975190
            Ojo de Agua           46.382773  0.0  0.118640  1.048204
            Pajas 1               32.325365  0.0  0.140067  0.805862
            Pajas 2               33.190820  0.0  0.147528  0.840981
            Pajas 3               33.909175  0.0  0.142785  0.823777
            Paloma                29.648477  0.0  0.109564  0.844567
...                                     ...  ...       ...       ...
2017 MICH   Jaboncillal           46.481966  0.0  0.116343  0.892863
            La Alberca            21.149821  0.0  0.096307  0.594586
            La Herradura          21.637746  0.0  0.092867  0.642343
            Mellizos              24.235984  0.0  0.093498  0.655037
            Ojo de Agua           50.000000  0.0  0.135103  1.070280
            Pajas 1               17.514816  0.0  0.109100  0.606001
            Pajas 2               21.760587  0.0  0.114440  0.653051
            Pajas 3               16.677115  0.0  0.109626  0.619403
            Paloma                50.000000  0.0  0.129513  0.968158
            San Francisco         28.531292  0.0  0.117883  0.902747
            Sicuicho              31.652799  0.0  0.117512  0.928779
            Tejote                46.697233  0.0  0.115764  0.903231
            Vista Hermosa Jesús   23.201820  0.0  0.116169  0.868894
            Vista Hermosa Victor  21.728648  0.0  0.115864  0.860622
            Zarzal                41.341483  0.0  0.130109  0.971968
     SLP    Agroquality           20.147454  0.0  0.041323  0.438183
            El Carpintero         10.717598  0.0  0.035138  0.323337
            El Clerigo            18.348281  0.0  0.029819  0.321286
            El Polvorin           11.979571  0.0  0.034102  0.322181
            JR                    19.513400  0.0  0.034036  0.352493
            La Morita             33.789681  0.0  0.045490  0.560010
            Las Fincas 1          26.454224  0.0  0.058722  0.583232
            Las Fincas 2          26.442665  0.0  0.058689  0.583488
            Las Fincas 3          26.389237  0.0  0.058820  0.590796
            Las Fincas 4          26.518357  0.0  0.058565  0.574923
            Rancho Vallarta       10.886722  0.0  0.042193  0.356255
            Rancho green house    19.664896  0.0  0.039026  0.470261
            SLP 1                 12.772722  0.0  0.033186  0.309859
            SLP 2                 18.694007  0.0  0.033944  0.354885
            SLP 3                 23.878935  0.0  0.064392  0.666877

[204 rows x 4 columns]

In [50]:
dataNasa.groupby(["Year","Estado"])["areaInfluencia"].agg(["max","min","mean","std"])

                     max  min      mean        std
Year Estado
2014 JAL     1556.762111  0.0  1.948118  16.813690
     MICH    2275.819197  0.0  2.339570  19.781644
     SLP     1847.782270  0.0  1.305475  18.986234
2015 JAL     1209.323565  0.0  1.686547  15.585850
     MICH    2120.910013  0.0  2.414599  26.864983
     SLP     1713.350474  0.0  1.496509  21.111119
2016 JAL     1650.785908  0.0  1.462368  13.834312
     MICH    1958.172542  0.0  1.531116  16.754465
     SLP     1596.369472  0.0  0.541673  10.767506
2017 JAL      769.268843  0.0  1.697606  13.782178
     MICH    2705.101152  0.0  2.326225  19.034039
     SLP      956.307675  0.0  0.880549  10.230180

In [51]:
dataNasa.groupby(["Year","Estado"])["areaInfluencia"].agg(["max","min","mean","std"]).to_csv("data/data_nasa_estadisticas_area_influencia.csv")

In [53]:
dataNasa.groupby(["Year","Estado","Nombre"])["areaInfluencia"].agg(["max","min","mean","std"])

                                          max  min      mean        std
Year Estado Nombre
2014 JAL    Bonanza 1              992.821460  0.0  1.893386  15.164324
            Bonanza 2              741.753650  0.0  1.806011  13.797279
            Cantor                1088.856386  0.0  1.957584  16.796302
            Caracol 1              644.197002  0.0  1.920517  15.877760
            Caracol 2             1170.345987  0.0  2.098246  21.036648
            El conejo             1556.762111  0.0  2.074121  22.493263
            La Quinta              469.555301  0.0  1.808302  13.726604
            Leona 1                621.491840  0.0  1.988944  15.203733
            Leona 2                587.373380  0.0  1.951771  15.287827
            Manzanilla 1           428.568968  0.0  1.820436  13.150079
            Manzanilla 2           537.879934  0.0  1.857456  14.730740
            Ranchitos              740.230700  0.0  2.000760  17.645990
            Varal 1               1059.997630  0.0  1.993110  17.652326
            Varal 2               1256.899166  0.0  2.103002  19.715508
     MICH   Adelas                 672.247613  0.0  2.075891  18.088227
            Antena                 844.098216  0.0  2.254302  20.378706
            Bugambilias           1124.208485  0.0  2.232300  19.314620
            Coyotera              1063.633282  0.0  2.041984  18.602600
            El Costo              1046.555239  0.0  2.311896  19.920013
            El Fresno              839.680222  0.0  2.619904  15.868067
            El Milagro             667.896245  0.0  2.615254  15.453304
            Jaboncillal           1076.410554  0.0  2.120180  18.845791
            La Alberca            1063.203338  0.0  2.503418  17.952434
            La Herradura           974.271308  0.0  2.376231  21.229882
            Mellizos               930.908639  0.0  2.421561  21.266958
            Ojo de Agua           1221.915890  0.0  2.398391  24.663333
            Pajas 1                688.746713  0.0  2.813414  18.287721
            Pajas 2                735.662070  0.0  2.973629  18.433672
            Pajas 3                794.413321  0.0  2.909570  19.015979
            Paloma                 911.742649  0.0  2.152559  18.183788
...                                       ...  ...       ...        ...
2017 MICH   Jaboncillal            744.624625  0.0  2.207496  16.337451
            La Alberca             475.159316  0.0  1.938807  13.674189
            La Herradura           610.836488  0.0  1.940065  15.341596
            Mellizos               448.921881  0.0  1.819291  13.323863
            Ojo de Agua            692.989518  0.0  2.750514  20.877155
            Pajas 1                489.991189  0.0  2.222141  14.135836
            Pajas 2                495.968382  0.0  2.354207  14.713245
            Pajas 3                476.117076  0.0  2.191479  14.166084
            Paloma                2705.101152  0.0  2.765490  28.742212
            San Francisco         1297.000570  0.0  2.288879  19.824059
            Sicuicho               818.286552  0.0  2.411509  20.868106
            Tejote                1037.116349  0.0  2.222878  17.727766
            Vista Hermosa Jesús    698.617307  0.0  2.216402  17.531695
            Vista Hermosa Victor   685.924392  0.0  2.382587  19.698649
            Zarzal                1208.758730  0.0  2.559251  20.865684
     SLP    Agroquality            370.298494  0.0  0.780079   8.290760
            El Carpintero          231.418472  0.0  0.697432   6.755196
            El Clerigo             296.408075  0.0  0.592390   6.621687
            El Polvorin            388.093602  0.0  0.679315   7.279014
            JR                     727.302669  0.0  0.704235   9.540847
            La Morita              572.676063  0.0  0.844414  10.641705
            Las Fincas 1           386.623378  0.0  1.120821  11.259253
            Las Fincas 2           956.307675  0.0  1.157822  13.475032
            Las Fincas 3           791.362060  0.0  1.164551  13.809835
            Las Fincas 4           647.576990  0.0  1.189035  12.231031
            Rancho Vallarta        294.412919  0.0  0.857456   7.881483
            Rancho green house     559.372881  0.0  0.827197  11.646902
            SLP 1                  264.729594  0.0  0.672214   7.163762
            SLP 2                  287.628938  0.0  0.642145   6.529158
            SLP 3                  911.382313  0.0  1.279126  14.605458

[204 rows x 4 columns]

NameError: name 'dataNASA' is not defined

In [ ]:
i