In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
data = pd.read_csv("data/data_nasa_wrf_merge_3.csv")

In [4]:
data.head()

,Unnamed: 0,Canon,Estado,Nombre,Long,Lat,Year,Month,Day,Hour_x,...,0pre,10-15pre,5-10pre,15-20pre,25-30pre,20-25pre,1-5pre,>30pre,0,estacion_y
0,0,1,MICH,La Alberca,-102.006289,19.474989,2014,3,12,0,...,1,0,0,0,0,0,0,0,0,WINTER
1,1,1,MICH,La Alberca,-102.006289,19.474989,2014,3,12,30,...,1,0,0,0,0,0,0,0,0,WINTER
2,2,1,MICH,La Alberca,-102.006289,19.474989,2014,3,12,60,...,1,0,0,0,0,0,0,0,0,WINTER
3,3,1,MICH,La Alberca,-102.006289,19.474989,2014,3,12,90,...,1,0,0,0,0,0,0,0,0,WINTER
4,4,1,MICH,La Alberca,-102.006289,19.474989,2014,3,12,120,...,1,0,0,0,0,0,0,0,0,WINTER

In [5]:
data.columns

Index(['Unnamed: 0', 'Canon', 'Estado', 'Nombre', 'Long', 'Lat', 'Year',
       'Month', 'Day', 'Hour_x', 'RainIMR', 'areaInfluencia2', 'estacion_x',
       'Hora', 'Hour_y', 'RainWRF', 'Fecha', '0pre', '10-15pre', '5-10pre',
       '15-20pre', '25-30pre', '20-25pre', '1-5pre', '>30pre', '0',
       'estacion_y'],
      dtype='object')

In [8]:
dataForProcessing = data[['RainIMR','RainWRF','estacion_y']]

In [9]:
dataForProcessing.columns

Index(['RainIMR', 'RainWRF', 'estacion_y'], dtype='object')

In [11]:
dataProcessing = dataForProcessing.iloc[:,:]

In [12]:
dataProcessing.head()

   RainIMR  RainWRF estacion_y
0      0.0      0.0     WINTER
1      0.0      0.0     WINTER
2      0.0      0.0     WINTER
3      0.0      0.0     WINTER
4      0.0      0.0     WINTER

In [13]:
dataProcessing["diff"] = abs(dataProcessing["RainIMR"] - dataProcessing["RainWRF"])

/home/jorge/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
dataProcessing.head()

   RainIMR  RainWRF estacion_y  diff
0      0.0      0.0     WINTER   0.0
1      0.0      0.0     WINTER   0.0
2      0.0      0.0     WINTER   0.0
3      0.0      0.0     WINTER   0.0
4      0.0      0.0     WINTER   0.0

In [16]:
X = dataProcessing.iloc[:,:-1].values

In [17]:
y = dataProcessing.iloc[:,3].values

In [20]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [21]:
labelencoder_X = LabelEncoder()

In [24]:
X[:,2] = labelencoder_X.fit_transform(X[:,2])

In [25]:
onehotencoder = OneHotEncoder(categorical_features = [2])

In [26]:
X = onehotencoder.fit_transform(X).toarray()

In [27]:
from sklearn.cross_validation import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
regressor = LinearRegression()

In [32]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
y_pred = regressor.predict(X_test)

In [34]:
y_pred

array([-0.00504873,  0.00183708, -0.00034226, ..., -0.00581782,
       -0.00581782, -0.00504873])